<!-- <p>admin works!</p> -->

<main>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Usuario</h6>
                            <span>Turista</span>
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span class="navbar-text">
                                    {{currentUser?.usuario}}
                                    <button class="btn btn-outline-danger ms-3" (click)="logout()">Cerrar sesión</button>
                                </span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>ADMINISTRADOR</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="http://18.214.99.177/login">Inicio</a></li>
                    <!-- <li class="breadcrumb-item"><a href="http://localhost/login">Inicio</a></li> -->
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <!-- ---------------------------------------- -->
                <div class="col-lg-6">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">CREAR USUARIOS</h5>

                            <!-- General Form Elements -->

                            <form [formGroup]="form_registro" (ngSubmit)="registrar()" class="row g-3 needs-validation"
                                novalidate>
                                <div class="col-12">
                                    <label for="imagen" class="form-label">Imagen</label>
                                    <input type="file" name="imagen" class="form-control" id="imagen" accept="image/*"
                                        (change)="onFileSelected($event)" required>
                                </div>
                                <div class="col-12">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input formControlName="nombre" type="text" name="nombre" class="form-control"
                                        id="nombre" required>
                                    <div class="invalid-feedback">Please, enter your name!</div>
                                </div>

                                <div class="col-12">
                                    <label for="apellido" class="form-label">Apellido</label>
                                    <input formControlName="apellido" type="text" name="apellido" class="form-control"
                                        id="apellido" required>
                                    <div class="invalid-feedback">Please, enter your name!</div>
                                </div>

                                <div class="col-12">
                                    <label for="usuario" class="form-label">Usuario</label>
                                    <input formControlName="usuario" type="text" name="usuario" class="form-control"
                                        id="usuario" required>
                                    <div class="invalid-feedback">Please, enter your name!</div>
                                </div>

                                <div class="col-12">
                                    <label for="correo" class="form-label">Correo</label>
                                    <input formControlName="correo" type="email" name="correo" class="form-control"
                                        id="correo" required>
                                    <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                                </div>


                                <div class="col-12">
                                    <label for="password" class="form-label">Password</label>
                                    <input formControlName="password" type="password" name="password"
                                        class="form-control" id="password" required>
                                    <div class="invalid-feedback">Please enter your password!</div>
                                </div>

                                <div class="col-12">
                                    <label for="confirm_password" class="form-label">Confirm password</label>
                                    <input formControlName="confirm_password" type="password" name="confirm_password"
                                        class="form-control" id="confirm_password" required>
                                    <div class="invalid-feedback">Please enter your password!</div>
                                </div>

                                <div class="col-12">
                                    <label class="form-label">Tipo de Usuario</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="tipoUsuario" id="turista"
                                            value="turista" formControlName="tipoUsuario" required>
                                        <label class="form-check-label" for="turista">
                                            Turista
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="tipoUsuario"
                                            id="recepcionista" value="recepcionista" formControlName="tipoUsuario"
                                            required>
                                        <label class="form-check-label" for="recepcionista">
                                            Recepcionista
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="tipoUsuario" id="admin"
                                            value="admin" formControlName="tipoUsuario" required>
                                        <label class="form-check-label" for="admin">
                                            Admin
                                        </label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Create Account</button>
                                </div>

                            </form>

                            <!--  -->

                        </div>
                    </div>

                </div>
                <!-- ---------------------------------------- -->
                <!-- --------------------AUTOS-------------------- -->
                <div class="col-lg-6">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">CREAR AUTOS</h5>

                            <!-- General Form Elements -->

                            <form [formGroup]="form_autos" (ngSubmit)="registrar_auto()" class="row g-3 needs-validation"
                                novalidate>
                                <div class="col-12">
                                    <label for="nombreA" class="form-label">Nombre</label>
                                    <input formControlName="nombreA" type="text" name="nombreA" class="form-control"
                                        id="nombreA" required>
                                    <div class="invalid-feedback">Please, enter your nombre!</div>
                                </div>

                                <div class="col-12">
                                    <label for="marca" class="form-label">Marca</label>
                                    <input formControlName="marca" type="text" name="marca" class="form-control"
                                        id="marca" required>
                                    <div class="invalid-feedback">Please, enter your marca!</div>
                                </div>

                                <div class="col-12">
                                    <label for="placa" class="form-label">Placa</label>
                                    <input formControlName="placa" type="text" name="placa" class="form-control"
                                        id="placa" required>
                                    <div class="invalid-feedback">Please, enter your placa!</div>
                                </div>

                                <div class="col-12">
                                    <label for="modelo" class="form-label">Modelo</label>
                                    <input formControlName="modelo" type="text" name="modelo" class="form-control"
                                        id="modelo" required>
                                    <div class="invalid-feedback">Please enter your modelo!</div>
                                </div>
                                
                                <div class="col-12">
                                    <label for="precioA" class="form-label">Precio</label>
                                    <input formControlName="precioA" type="text" name="precioA" class="form-control"
                                        id="precioA" required>
                                    <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                                </div>

                                <div class="col-12">
                                    <label for="ciudad" class="form-label">Ciudad</label>
                                    <input formControlName="ciudad" type="text" name="ciudad" class="form-control"
                                        id="ciudad" required>
                                    <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                                </div>

                                
                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Create Auto</button>
                                </div>

                            </form>

                            <!--  -->

                        </div>
                    </div>

                </div>
                <!-- ---------------------------------------- -->
                <!-- --------------------VIAJES-------------------- -->
                <div class="col-lg-6">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">CREAR VIAJES</h5>

                            <!-- General Form Elements -->

                            <form [formGroup]="form_viajes" (ngSubmit)="registrar_viaje()" class="row g-3 needs-validation"
                                novalidate>
                                
                                <div class="col-12">
                                    <label for="nombreV" class="form-label">Nombre de la agencia</label>
                                    <input formControlName="nombreV" type="text" name="nombreV" class="form-control"
                                        id="nombreV" required>
                                    <div class="invalid-feedback">Please, enter your name!</div>
                                </div>

                                <div class="col-12">
                                    <label for="ciudadO" class="form-label">Ciudad de origen</label>
                                    <input formControlName="ciudadO" type="text" name="ciudadO" class="form-control"
                                        id="ciudadO" required>
                                    <div class="invalid-feedback">Please, enter your name!</div>
                                </div>

                                <div class="col-12">
                                    <label for="ciudadD" class="form-label">Ciudad de Destino</label>
                                    <input formControlName="ciudadD" type="text" name="ciudadD" class="form-control"
                                        id="ciudadD" required>
                                    <div class="invalid-feedback">Please, enter your name!</div>
                                </div>

                                <div class="col-12">
                                    <label for="dias" class="form-label">Dias de viaje</label>
                                    <input formControlName="dias" type="text" name="dias" class="form-control"
                                        id="dias" required>
                                    <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                                </div>
                                
                                <div class="col-12">
                                    <label for="precioV" class="form-label">precio de vuelo</label>
                                    <input formControlName="precioV" type="text" name="precioV" class="form-control"
                                        id="precioV" required>
                                    <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Create Account</button>
                                </div>

                            </form>

                            <!--  -->

                        </div>
                    </div>

                </div>
                <!-- ---------------------------------------- -->

                <div class="col-lg-6">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Advanced Form Elements</h5>

                            <!-- Advanced Form Elements -->
                            <form>
                                <div class="row mb-5">
                                    <label class="col-sm-2 col-form-label">Switches</label>
                                    <div class="col-sm-10">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                            <label class="form-check-label" for="flexSwitchCheckDefault">Default switch
                                                checkbox input</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                                                checked>
                                            <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch
                                                checkbox input</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled"
                                                disabled>
                                            <label class="form-check-label" for="flexSwitchCheckDisabled">Disabled
                                                switch checkbox
                                                input</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox"
                                                id="flexSwitchCheckCheckedDisabled" checked disabled>
                                            <label class="form-check-label"
                                                for="flexSwitchCheckCheckedDisabled">Disabled checked switch
                                                checkbox input</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-5">
                                    <label class="col-sm-2 col-form-label">Ranges</label>
                                    <div class="col-sm-10">
                                        <div>
                                            <label for="customRange1" class="form-label">Example range</label>
                                            <input type="range" class="form-range" id="customRange1">
                                        </div>
                                        <div>
                                            <label for="disabledRange" class="form-label">Disabled range</label>
                                            <input type="range" class="form-range" id="disabledRange" disabled>
                                        </div>
                                        <div>
                                            <label for="customRange2" class="form-label">Min and max with steps</label>
                                            <input type="range" class="form-range" min="0" max="5" step="0.5"
                                                id="customRange2">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">Floating labels</label>
                                    <div class="col-sm-10">
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" id="floatingInput"
                                                placeholder="nameexample.com">
                                            <label for="floatingInput">Email address</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" id="floatingPassword"
                                                placeholder="Password">
                                            <label for="floatingPassword">Password</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <textarea class="form-control" placeholder="Leave a comment here"
                                                id="floatingTextarea" style="height: 100px;"></textarea>
                                            <label for="floatingTextarea">Comments</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <select class="form-select" id="floatingSelect"
                                                aria-label="Floating label select example">
                                                <option selected>Open this select menu</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                            <label for="floatingSelect">Works with selects</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-5">
                                    <label class="col-sm-2 col-form-label">Input groups</label>
                                    <div class="col-sm-10">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"></span>
                                            <input type="text" class="form-control" placeholder="Username"
                                                aria-label="Username" aria-describedby="basic-addon1">
                                        </div>

                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Recipient's username"
                                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                                            <span class="input-group-text" id="basic-addon2">example.com</span>
                                        </div>

                                        <label for="basic-url" class="form-label">Your vanity URL</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text"
                                                id="basic-addon3">https://example.com/users/</span>
                                            <input type="text" class="form-control" id="basic-url"
                                                aria-describedby="basic-addon3">
                                        </div>

                                        <div class="input-group mb-3">
                                            <span class="input-group-text">$</span>
                                            <input type="text" class="form-control"
                                                aria-label="Amount (to the nearest dollar)">
                                            <span class="input-group-text">.00</span>
                                        </div>

                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Username"
                                                aria-label="Username">
                                            <span class="input-group-text"></span>
                                            <input type="text" class="form-control" placeholder="Server"
                                                aria-label="Server">
                                        </div>

                                        <div class="input-group">
                                            <span class="input-group-text">With textarea</span>
                                            <textarea class="form-control" aria-label="With textarea"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </form><!-- End General Form Elements -->

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main><!-- End #main -->


</main>