<p>recepcionista works!</p>
<!-- <p>turista works!</p> -->
<!-- <p>admin works!</p> -->

<main>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <span class="d-none d-md-block dropdown-toggle ps-2">Recepcionista</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Usuario</h6>
                            <span>Recepcionista</span>
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span class="navbar-text">
                                    {{currentUser?.usuario}}
                                    <button class="btn btn-outline-danger ms-3" (click)="logout()">Cerrar
                                        sesión</button>
                                </span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>TURISTA</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="http://3.93.0.237/login">Inicio</a></li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <!-- ----------------- -->
                <!-- MOSTRAR VIAJES -->
                <div class="col-lg-6">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">TODOS LOS VIAJES</h5>
                            <div class="table-responsive mt-3">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <!-- <th scope="col">Id</th> -->
                                            <th scope="col">Nombre de la agencia</th>
                                            <th scope="col">Cuidad de origen</th>
                                            <th scope="col">Ciudad de destino</th>
                                            <th scope="col">Dias de vuelo</th>
                                            <th scope="col">Precio de vuelo</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let viaje of viajess">
                                            <!-- <td>{{viaje._id}}</td> -->
                                            <td>{{viaje.nombreV}}</td>
                                            <td>{{viaje.ciudadO}}</td>
                                            <td>{{viaje.ciudadD}}</td>
                                            <td>{{viaje.dias}}</td>
                                            <td>{{viaje.precioV}}</td>
                                            <td>
                                                <button class="btn btn-danger"
                                                    (click)="eliminarViaje(viaje._id)">Reservar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- ----------------- -->


            </div>
        </section>

    </main><!-- End #main -->


</main>